header{
  color:white;
  background: #4f3222;
  padding-top: 0px;
  padding-bottom: 0px;

}
.logo{

}
.navi{


}
body{
  background: #4f3222;
}
.nav-link{
  color:#fff;
  margin-top: 60px;
}
#menu li a:hover{
  color:#fff;
  background:black;
}
#logo{
  font-size: 2rem;
  margin-top:5px;

}

#banner{
  border:5px solid black;
  padding:0px;
  height:500px;
  background:url("../css n bootstrap/sample2.jpg") no-repeat 0 0;
  background-size:cover; cbx
}
#title h2{
  color:#fff;

}
#title p{
  color:#ecf0f1;

}
#title{

  float:right;
}
.logo{
  position:static;
}
.navi{
  position:static;
}
.section{
  padding-top: 30px;
  padding-bottom: 30px;

}
.section h2.section-head{
  color:#fff;
  text-align:center;
  margin-bottom: 30px;HEX: #8b6f47
}
.service-box{
  text-align: center;
  color:#fff;
  background:black;
  transition:all 1s linear 1s;
  transform: rotate(360deg);
  border-radius: 45px 45px ;
}
.service-box i.fa{
  color:#fff;
  font-size:60px;
  margin-bottom: 10px;
}
#testimonials{
  background: url("../css n bootstrap/background testi.jpg")no-repeat 0 0 ;
  width:100%;
  background-size: cover;
  padding:30px 0 ;
  position:relative;
  opacity:0.9;
  color:#fff;
  margin-left:0px;
  margin-righ:0px;
  border:5px solid black;
}
.testimonial img{
  border-radius:50%;
  border:2px solid black;
  transition:all 1s linear 1s;
  transform: rotateY(180deg);

}
